@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

img {
  width: 100px;
  height: auto;
}

header {
  width: 100%;
  height: 10vh;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
}

header .logo {
  padding: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .logo h1 {
  margin-left: 1rem;
}

.container {
  width: 100%;
  max-width: 98rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.hero {
  width: 100%;
  height: 100vh;
  background: url("./background.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.hero .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container .search {
  width: 300px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .container .search__input {
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.hero .container .search__input .field {
  border: none;
  padding-left: 0.5rem;
}

.hero .container .search__input .field:focus {
  outline: none;
}

.hero .container .search__input .icon {
  position: absolute;
  width: 20px;
  height: auto;
  left: 15px;
  top: 15px;
}

.hero .container .search__btn {
  margin-top: 1rem;
  width: 50%;
  height: 40px;
  border-radius: 10px;
  border: none;
  color: #fff;
  background: #071a52;
  cursor: pointer;
}

.hero .container .search__btn:focus {
  outline: none;
}

.hero .close-btn {
  display: none;
}

.hero.open {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 50vh;
}

.hero.open .close-btn {
  width: 2rem;
  height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #fff;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  z-index: 1;
  border-radius: 0.5rem;
  cursor: pointer;
}

.content {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  border-top: 0.25vh solid #071a52;
  width: 100%;
  height: 49.75vh;
  background: #fff;
}

.content .container {
  height: 100%;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.content .container .weather-card {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .container .weather-card__current {
  width: 90%;
  max-width: 600px;
  height: 300px;
  background-color: #fff;
  -webkit-box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.content .container .weather-card__current .header {
  padding: 0.55rem;
  width: 100%;
  height: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .container .weather-card__current .header h1 {
  padding: 0.2rem;
}

.content .container .weather-card__current .main {
  padding: 0.75rem;
  height: 60%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content .container .weather-card__current .main h1 {
  font-size: 3rem;
  padding-left: 1rem;
}

.content .container .weather-card__current .main h2 {
  padding-right: 1rem;
  font-size: 1rem;
}

.content .container .weather-card__current .other-data {
  width: 100%;
  height: 20%;
  background-color: #4b96cd;
  border-radius: 0 0 10px 10px;
  -webkit-box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px 2px rgba(0, 0, 0, 0.25);
}

.content .container .weather-card__current .other-data ul {
  padding: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.content .container .weather-card__current .other-data ul li {
  padding: 1rem;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 500px) {
  header {
    font-size: 0.7rem;
  }
  .content {
    height: 100%;
  }
  .content .container .weather-card {
    height: 700px;
  }
  .content .container .weather-card__current {
    height: 90%;
  }
  .content .container .weather-card__current div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .container .weather-card__current .header {
    padding-top: 1rem;
    height: 10%;
  }
  .content .container .weather-card__current .header h2 {
    font-size: 1rem;
  }
  .content .container .weather-card__current .main {
    height: 40%;
    padding: 2rem 0;
  }
  .content .container .weather-card__current .main img {
    padding: 1rem 0;
  }
  .content .container .weather-card__current .other-data {
    height: 50%;
  }
  .content .container .weather-card__current .other-data ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .content .container .weather-card__current .other-data ul li {
    width: 100%;
    padding: 0.7rem;
    border-bottom: 1px solid #071a52;
  }
  .content .container .weather-card__current .other-data ul li:last-child {
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */